/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'NotCourierSans-Bold';
  src: url('fonts/notcouriersans-bold-webfont.eot');
  src: url('fonts/notcouriersans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/notcouriersans-bold-webfont.woff2') format('woff2'),
       url('fonts/notcouriersans-bold-webfont.woff') format('woff'),
       url('fonts/notcouriersans-bold-webfont.ttf') format('truetype'),
       url('fonts/notcouriersans-bold-webfont.svg#notcouriersansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NotCourierSans-Regular';
  src: url('fonts/notcouriersans-webfont.eot');
  src: url('fonts/notcouriersans-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/notcouriersans-webfont.woff2') format('woff2'),
       url('fonts/notcouriersans-webfont.woff') format('woff'),
       url('fonts/notcouriersans-webfont.ttf') format('truetype'),
       url('fonts/notcouriersans-webfont.svg#notcouriersansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
	background: #000;
	color: #FFF;
	font-family: "NotCourierSans-Regular";
	font-weight: 400;
}

#pointer-logo {
	display: block;
	fill: #FFF;
	width: 5rem;
	margin: 2rem 2rem;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: inherit;
}

a:hover {
    color: #FFA033;
}

h1 {
	font-size: 5rem;
	padding: 2rem;
	line-height: 1.8;
}

.row h1 {
	width: 75%;
	display: inline-block;
}

.row h4 {
    font-style: italic;
	padding: 2rem;
}

.row div {
	width: 23%;
	display: inline-block;
}

.row div * {
	display: block;
	line-height: 1.8;
	vertical-align: top;
}
